#####################################
####	THIS IS A CONFIG FILE	 ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary 
##	    (word) means optional)
##
##  include	  <file>
##  define	  <word> (defn1) (defn2) (defn3) ...
##  fit 	  <fitname>
##  keyword	  <keyword> <min arguments> <max arguments>
##  reaction	  <reaction> <particle1> <particle2> (particle3) ...
##  data	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum 	  <reaction> <sum> (sum2) (sum3) ...
##  amplitude	  <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ... 
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##		    <value1> <value2> ("fixed"/"real")
##  scale	  <reaction> <sum> <amp> <value or [parameter]>
##  constrain	  <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute	  <reaction> <sum> <amp> <index1> <index2> ...
##  parameter	  <par> <value> ("fixed"/"bounded"/"gaussian") 
##		    (lower/central) (upper/error)
##    DEPRECATED:
##  datafile	  <reaction> <file> (file2) (file3) ...
##  genmcfile	  <reaction> <file> (file2) (file3) ...
##  accmcfile	  <reaction> <file> (file2) (file3) ...
##
#####################################


fit Xic0mixed

reaction Xic0mixed Xi0 K K

genmc   Xic0mixed DalitzDataReader phasespace_genmc_Xi0KK.root
accmc   Xic0mixed DalitzDataReader phasespace_accmc_Xi0KK.root
data    Xic0mixed DalitzDataReader physics_accmc_Xi0phiKK.root
normintfile Xic0mixed Xic0angles.ni

sum Xic0mixed xi0kk
sum Xic0mixed xi0phi

#PHSP Background from non-resonant KK combinations
amplitude Xic0mixed::xi0kk::B23 Xi0KKAngles  -1.0 1.0 0.5 0.5

#Resonant phi amplitude with helicity angles
amplitude Xic0mixed::xi0phi::R23 BreitWigner  [M]  [G]   2 3

initialize Xic0mixed::xi0phi::R23  cartesian 15.48 0.0 real
initialize Xic0mixed::xi0kk::B23  cartesian 0.35 0.0

parameter M 1.019461
parameter G 0.00425
